
<h3>Edit Post</h3>
<form>
    <input type="text" id="name" placeholder="title" value="{{title}}">
    <textarea id="blog-post" placeholder="blog post">{{body}}</textarea>
    <input type="hidden" id="post-id" value="{{id}}">
    <button>Edit Post</button>
</form>
<script src="/js/edit.js"></script>