<h3>Login </h3>
<form id="login-form">
    <input type="text" placeholder="username" id="login-username">
    <input type="password" placeholder="password" id="login-password">
    <button>Login!</button>
</form>
<h3>Signup </h3>
<form id="signup-form">
    <input type="text" placeholder="email" id="signup-email">
    <input type="text" placeholder="username" id="signup-username">
    <input type="password" placeholder="password" id="signup-password">
    <button>Signup!</button>
</form>

<script src="/js/login.js"></script>

