:root {
  --lightest-beige: #F1EBE5;
  --bg-light-beige-pink: #cb9a91;
  --mushroomy-brown: #BEB4AA;
  --txt-dark-brown: #69443C;
  --green: #306c33;
  --bg-light-green: #b9be99;
  --txt-green: #223d2f;
}

* {
  font-family: 'Comfortaa', cursive;
}

body {
  background-color: var(--bg-light-green);
}

a, button {
  display: inline-block;
  background-color: var(--txt-green);
  padding: 5px;
  width: 100px;
  color:var(--lightest-beige);
  text-align: center;
  border: 1px solid var(--txt-dark-brown);
  border-radius: 5px;
  font-size: 10px;
  cursor: pointer;
  margin: 5px;
  -webkit-transition: all 0.5s; /* add this line, chrome, safari, etc */
  transition: all 0.5s; /* add this line */
}
button:hover {
  background-color: var(--green);
}
a:hover {
  background-color: var(--green);
}

form div {
  margin-top: 1rem;
}

label,
input,
textarea
button,
select{
  font-size: 1.3rem;
  line-height: 1.2
}

form {
  width: 30em;
  max-width: 90%;
  margin: 0 auto;
}

label {
  margin-bottom: 0.4rem;
  display: block;
}

input,
textarea {
  padding: 0.4rem;
  width: 100%;
}
